<!DOCTYPE html>
<html>
<head>
    <title>Merry Christmas!</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="subpage2">
    <div class="container">
        <h1>Merry Christmas!</h1>
        <p>ja to zrobie normalne dam tu readme jakies ale to potem.</p>
        <a href="/"><button>Home</button></a>
    </div>

    <!-- Snowflake animation -->
    <div class="snowflake">❄️</div>
    <div class="snowflake">❄️</div>
    <div class="snowflake">❄️</div>
    <div class="snowflake">❄️</div>
    <div class="snowflake">❄️</div>
    <div class="snowflake">❄️</div>
    <div class="snowflake">❄️</div>
    <div class="snowflake">❄️</div>
</body>
</html>
